@page "/"
@using RedditToOpml.Data
@inject Repository Repository

<PageTitle>Reddit RSS Subscriptions</PageTitle>
<div class="row">
    <div class="col-12">
        <h1>Reddit RSS Subscriptions</h1>
    </div>
    <div class="col-12">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Subreddit</th>
                <th>Category</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var subscription in Repository.Subscriptions)
            {
                <tr>
                    <td>
                        /r/@subscription.Subreddit
                    </td>
                    <td>
                        <select class="form-select form-select-sm" 
                                style="width: auto;" 
                                value="@subscription.Category"
                                @onchange="@(e => OnCategoryChanged(subscription, e))">
                            @foreach (var category in Categories.All)
                            {
                                <option value="@category">@category</option>
                            }
                        </select>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

@code {
    private void OnCategoryChanged(Subscription subscription, Microsoft.AspNetCore.Components.ChangeEventArgs e)
    {
        var newCategory = e.Value?.ToString();
        if (!string.IsNullOrEmpty(newCategory))
        {
            subscription.Category = newCategory;
            Repository.Save();
        }
    }
}
